$primary-color: #264653; // Azul petróleo
$accent-color: #e76f51; // Laranja queimado
$warn-color: #f44336; // Vermelho (para warnings)

$background-default: #2a2a2a; // Fundo escuro
$background-app-bar: #3a3a3a; // Cor da barra de navegação
$background-card: #3a3a3a; // Cor de fundo dos cards
$background-hover: #3a3a3a; // Cor de fundo hover
$background-tooltip: #3a3a3a; // Cor de fundo da tooltip

$primary-text-color: #ffffff; // Cor para textos (branco)
$secondary-text-color: #b0b0b0; // Cor para os textos (cinza claro)
